body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #be1c24;
}

#randomValueDisplay {
    background: #FFFFFFFF;
    border: 3px solid #DDDDDDDD;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    height: auto;
    text-align: center;
    text-shadow: 1px 1px #be1c24;
}


html {
    background: url("img.jpg") center top no-repeat #be1c24;
    min-height: 100%;
    padding: 400px 0;
    box-sizing: border-box;
}

h3 {
    font-size: 1.8em;
    color: #d01010;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-size: 1.6em;
    margin: 10px 0;
}